
  .tab {
    cursor: pointer;
    padding: 10px;
    /* border: 1px solid #ccc;
    border-bottom: none; */
    border-radius: 5px 5px 0 0;
    border:none;
  }
  .tab.active {
    background-color: lavenderblush;
  }
  .tab-content {
    padding: 20px;
    display: none;
    border-radius: 0 0 5px 5px;
  }
  .tab-content.active {
    display: block;
  }
  .tabs{
    display: flex;
    align-items: center;
    justify-content: center;
  }